<% @presentation.slides.order(:page_number).each do |slide| %>
  <div class="slide full-width full-height">
    <img class="full-width full-height" src="<%= slide.image_url %>"/>
  </div>
<% end %>

<script type="text/javascript">
  $(function () {
    $('.slide').hide();
    $('.slide').first().show();
    current = 0;
    $('body').keypress(function (event) {
      current += 1;
      if(current >= $('.slide').length) current = 0;
      $('.slide').hide();
      $('.slide:eq(' + current + ')').show();
    });
  })
</script>